<div class="content-row">
  <h1>Cookie Information</h1>
</div>

<div class="content-row">
  <h2>What are cookies</h2>
  <p>
    Cookies are small data files that a website you visit may save on your hard drive. They usually include an anonymous 
    unique identifier. A cookie cannot retrieve any other data from your hard drive or pass on computer viruses.
  </p>
  <h2>What cookies and similar techonologies does Hunger use</h2>
  <p>
    Hunger uses cookies and similar technologies to assist with functions such as user authentication, 
    remembering user preferences, understanding how users use our Service, and managing and tracking the effectiveness 
    of our marketing efforts. We also may include tracking pixels, which are small graphic images, in our email messages 
    and newsletters to determine whether the messages were opened and if the links were clicked. In some cases, as outlined 
    below, third parties may also get the opportunity to set cookies.
  </p>
  <p>
    We describe in this document the cookies and similar technologies found on our Service. Please check back here periodically, 
    as we may update this information from time to time.
  </p>
  <h2>Functional cookies</h2>
  <p>
    Functional cookies are necessary to enable portions of the Service and its features to work as intended. For example, we use 
    cookies to help recognize and remember you when you are logged into the Service so we can maintain your settings and preferences, 
    such as your language and region or your logged-in state. These cookies also may help us provide services you have asked for, 
    such as watching a video or commenting on our user forum. These cookies do not track your browsing activity on non-Hunger websites.
  </p>
  <p>
    You may disable any of these functional cookies as described below; but if you do, various functions of the Service may be 
    unavailable to you or may not work as intended.
  </p>
  ...
</div>