.home-page {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;

  h1 {
    font-size: 2.5em;

    .highlighted {
      color: #FB5068;
      text-decoration: underline;
    }
  }

}