<mat-toolbar class="main-toolbar mat-elevation-z6">
  <button mat-icon-button class="menu-button" aria-label="Menu button">
    <mat-icon>menu</mat-icon>
  </button>

  <span class="spacer"></span>

  <a href="/" class="logo">
    <img src="../assets/images/hunger-logo.svg" alt="Hunger logo" width="85" height="55">
    <span>hunger</span>
  </a>

  <span class="spacer"></span>

  <button mat-icon-button class="profile-button" aria-label="Profile button">
    <mat-icon>account_circle</mat-icon>
  </button>
</mat-toolbar> 