
$action-color: #FB5068;

html, body { height: 100%; }
body { 
  margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
  background-color: #FAFAFA;
}

.page {
  height: 100%;

  .page-content {
    height: 100%;
  }
}

.spacer {
  flex: 1 1 auto;
}