:host {
  width: 100%;

  form {
    display: flex;
    flex-direction: column;
    padding: 15px;

    .mat-error {
      padding-top: 10px;
      padding-bottom: 30px;
    }

    .buttons-area {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;


      button.signup-button {
        background-color: #f72c48;
        color: white;
        width: 45%;
      }
  
      button.cancel-button {
        background-color: white;
        color: auto;
        width: 45%;
      }
    
    }
  
  }
}

