.sidenav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;

  .sidenav-header {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 30px);
    padding: 15px;
    height: 30px;
    background-color: #FB5068;
    color: white;
  }

  .sidenav-inputs {
    margin-top: 60px;
    width: calc(100% - 30px);
    padding: 15px;
    height: calc(100% - 156px);
    overflow-y: scroll;

    .sidenav-input {
      display: flex;
      justify-content: space-between;
      align-items: center;
      
      .mat-form-field {
        width: 100%;
      }

      &.checkbox-list-input {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .mat-selection-list {
          width: 100%;
          
          .mat-list-option {
            font-size: small;
          }
        }

      }
    }

  }

  .sidenav-button {
    padding: 15px;
    width: calc(100% - 30px);
    height: 40px;
    background-color: white;

    button {
      width: 100%;
      background-color: #FB5068;
      color: white;
    }
  }
}